.keg{
  border: solid;
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  font-family: cursive;
  background-color: skyblue;
}
.title{
  font-size: 40px;
  text-align: center;
  font-family: fantasy;

}

h1 {
  font-size: 50px;
  font-family: monospace;
}
button {
  font-size: 15px;
}
.edit {
  font-size: 20px;
  font-family: sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #999966  ;
  font-family: 'Kavoon';font-size: 22px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 15%;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #999966 ;
  color: white;
}

