<div class="container">
<div class="jumbotron">
<h1 style="text-align: center;">

  Fuckery {{ title }}!
</h1>
</div>
<ul>
  <li [class]="pintColor(currentTap)"*ngFor="let currentTap of taps"><hr>Title: {{currentTap.title}} <button (click)="editTap(currentTap)">Edit</button><button (click)="sellTap(currentTap)">Sell</button><p> Brand: {{currentTap.brand}}</p>Price: {{currentTap.price}}$ <p>Alcohol content: {{currentTap.content}}%</p><p>Flavor: {{currentTap.flavor}}</p>Pints: {{currentTap.pint}}</li><hr>
</ul>
<button (click)="addTap()">Add a new tap</button>

<div *ngIf="newTap">
<h3>Add a Tap</h3>
<label>Enter Tap Title:</label>
<input [(ngModel)]="newTap.title">
<label>Enter Tap Brand:</label>
<input [(ngModel)]="newTap.brand">  <label>Enter Tap Price:</label>
<input [(ngModel)]="newTap.price">  <label>Enter Tap Content:</label>
<input [(ngModel)]="newTap.content">
<label>Enter Tap Flavor:</label>
<input [(ngModel)]="newTap.flavor">
<button (click)="doneAdding()">Done</button>
<br>
</div>


<div *ngIf="selectedTap">
<h3>Edit Tap</h3>
<label>Enter Tap Title:</label>
<input [(ngModel)]="selectedTap.title">
<label>Enter Tap Brand:</label>
<input [(ngModel)]="selectedTap.brand">  <label>Enter Tap Price:</label>
<input [(ngModel)]="selectedTap.price">  <label>Enter Tap Content:</label>
<input [(ngModel)]="selectedTap.content">
<label>Enter Tap Flavor:</label>
<input [(ngModel)]="selectedTap.flavor">
<button (click)="finishEdit()">Done</button>
<br>
</div>
</div>
